{{ template "head" }}

<body>
{{ template "header" . }}

<h1>Config</h1>

<div id="github">
<h2>現在の設定</h2>
<p>
    Name: {{.Name}}
</p>
<p>
    Wiki URL: {{.Repo}}
</p>

<h2>設定変更</h2>

<form action="/config" method="post">
    <p>
        Name: <input type="text" name="name" size="10" placeholder="例: wiki">
    </p>
    <p>
        Wiki URL: <input type="text" name="repo" size="30" placeholder="例: https://github.com/hoge/huga.git">
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
</div>
</body>
</html>