<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Wiki</title>
</head>

<body>
<h2>Directory Tree</h2>
<div class="tree">
{{.Contents}}
</div>
</body>
</html>